<div class="col">
      <div class="card h-100 category-card">
        <div class="card-body">
          <h5 class="card-title text-primary">{{ category.category }}</h5> 
          <ul class="list-unstyled">
            <li>Stocks: <span class="text-success">{{ category['stocks'] }}</span></li> <!-- Accessing stocks using dictionary key -->
            <li>Ratings: <span class="text-warning">{{ category['ratings'] }}</span></li> <!-- Accessing ratings using dictionary key-->
            <li>Reviews: <span class="text-info">{{ category['reviews'] }}</span></li> <!-- Accessing reviews using dictionary key -->
            <li>Items: <span class="text-danger">{{ category['items'] }}</span></li> <!-- Accessing items using dictionary key -->
          </ul>
          <a href="mailto:ajaykgowda90@gmail.com?subject=Shop%20the%20Grocery%20items&body=name%3A%20%3CEnter%20your%20name%3E%3B%0D%0Aage%3A%20%3CEnter%20your%20age%3E%0D%0Aphone%20number%3A%3CEnter%20your%20Number%3E" class="btn btn-success"> Shop now </a>
        </div>
      </div>
    </div>

